<html>

<title> admin </title>

{% load static %} 

<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">

<body>
<header>
		<div class="logo">Electricity<span>Source</span></div>
	</header>
	
	<div class="nav-btn">Menu</div>
	<div class="container">
		
		<div class="sidebar">
			<nav>
				<a href="#">Electricity<span>Source</span></a>
				
				<ul>
					<li><a href="generatebill">Generate Bill</a></li>
					<li><a href="adminpayment">Customer Details</a></li>
					<li><a href="paymentdetails">Payment Details</a></li>
					<li><a href="login">Log out</a></li>
				</ul>
			</nav>
		</div>

		<div class="main-content">
			<h1>ADMIN</h1>
			<p>Here you can stuff!</p>
			<div class="panel-wrapper">
				<div class="panel-head">
					News
				</div>
				<div class="panel-body">
					Amaresh Swamy Writes to PM to Oppose Centre's Move to Place 'Anti-people' Electricity Bill in Parliament.
MP Domestic Help Living in a Shanty Receives Rs 2.5 Lakh Electricity Bill.
Madhya Electricity Departments Serves Rs 36.81 Lakh Bill to Poet Manzar Bhopali.
				</div>
			</div>
			<div class="panel-wrapper">
				<div class="panel-head">
					Updates
				</div>
				<div class="panel-body">
					(Isaac A)PowerMin asks govt departments to switch to prepaid smart meters.Power plants may get to stop supply to defaulters.Smart meter operators may get first claim on consumer power bills.
			</div>
			<div class="panel-wrapper">
				<div class="panel-head">
					Info
				</div>
				<div class="panel-body">
					(Chethan Kumarswamy)Paying bills is now a seamless and quick process via online means. A user can easily make online electricity bill payment easily with App/website. Any user can make their online electricity bill payment instantly in a few simple steps. To pay their bijli bill online, the users shall go to the app or website and follow the mentioned steps. Download sourced Android and ios app to get offers on the electricity bill payment.
				</div>
			</div>
		</div>
	</div>
</body>

</html>

    










