<html>
<head>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cb1.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/cb2.css' %}">
<link rel="stylesheet" type="text/js" href="{% static 'js/cb1.js' %}">
<link rel="stylesheet" type="text/js" href="{% static 'js/cb2.js' %}">
<link rel="stylesheet" type="text/js" href="{% static 'js/cb3.js' %}">
<script>

function myFunction() {
  var x = document.getElementById("fname").value;
  var total = x*24*30;
  var tot_price=total+(total*0.18);
  var gst = tot_price-total;
  document.getElementById("sum").value=total;
  document.getElementById("txt").value=gst;
  document.getElementById("grand").value=tot_price;
  
}

</script>
</head>

<body>
 <form action="r2" method="post">
				{% csrf_token %}
<div id="invoice">

    <div class="toolbar hidden-print">
        <div class="text-right">
            <button id="printInvoice" class="btn btn-info"><i class="fa fa-print"></i> Print</button>
            <button class="btn btn-info"><i class="fa fa-file-pdf-o"></i> Export as PDF</button>
        </div>
        <hr>
    </div>
    <div class="invoice overflow-auto">
        <div style="min-width: 600px">
            <header>
                <div class="row">
                    <div class="col">
                       
                            <img src="{% static 'img/electricity.png' %}" data-holder-rendered="true" />
                            
                    </div>
                    <div class="col company-details">
                        <h2 class="name">
                            
                            Sanjay
                            
                        </h2>
                        <div>455 Foggy Heights, AZ 85004, Banglore</div>
                        <div>(123) 456-789</div>
                        <div>electricpayless@gmail.com</div>
                    </div>
                </div>
            </header>
            <main>
                <div class="row contacts">
                    <div class="col invoice-to">
                        <div class="text-gray-light">INVOICE TO:</div>
                        <h2 class="to"><input type="text" placeholder="Enter Name Here.." class="form-control" name="name"></h2>
                        <div class="address"><input type="text" placeholder="Enter RRno Here.." class="form-control" name="rrno"></div>
                    </div>
                    <div class="col invoice-details">
                        <h1 class="invoice-id">INVOICE</h1>
                        <div class="date">Due Date: 30/10/2021</div>
                    </div>
                </div>
                <table border="0" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th>DATE</th>
                            <th class="text-left">DESCRIPTION</th>
                            <th class="text-right">HOUR PRICE</th>
                            <th class="text-right">DAYS</th>
                            <th class="text-right">TOTAL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="no"><input type="text" placeholder="Enter date Here.." class="form-control" name="date"></td>
                            <td class="text-left"><h3>
                                
                                home appliances bill
                              
                                </h3>
                            </td>
                            <td class="unit">Rs<input type="text" placeholder="Enter hour price Here.." class="form-control" name="hourprice" id="fname" onkeyup="myFunction()"></td>
                            <td class="qty">30</td>
                            <td class="total">Rs<input type="text" placeholder="Enter total price Here.." class="form-control" name="total" id="sum"></td>
                        </tr>
                    <tfoot>
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="2">TAX 25%</td>
                            <td>Rs<input type="text" placeholder="Enter Tax Here.." id="txt" class="form-control" name="tax"></td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="2">GRAND TOTAL</td>
                            <td>Rs<input type="text" placeholder="Enter Grand Total Price Here.."id="grand" class="form-control" name="grandtotal"></td>
                        </tr>
                    </tfoot>
                </table>
                <div class="thanks">Thank you!</div>
				<button type="submit" class="btn btn-lg btn-info" style="background-color:#GGG;">Submit</button>
				<br>
				<br>
                <div class="notices">
                    <div>NOTICE:</div>
                    <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
					
                </div>
            </main>
            <footer>
                Invoice was created on a computer and is valid without the signature and seal.
            </footer>
        </div>
        <div></div>
    </div>
</div>
</form>
</body>
</html>

 