<html>

<title>check RR</title>



 <head>
 
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/l1.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/l2.css' %}">
<link rel="stylesheet" type="text/js" href="{% static 'js/r1.js' %}">
<link rel="stylesheet" type="text/js" href="{% static 'js/r2.js' %}">
<style>
.profile-img{
border-radius:10px;
}
</style>
 </head>

<center>

<div class="bg">

<body style="background-color: #E7717D;">

<br><br>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title" style="color:#E9E9E9;font-size: 20px;">Continue to Pay</h1>
            <div class="account-wall">
                <img class="profile-img" src="{% static 'img/pay.png' %}"
                    alt="">
                <form action="v3" method="post" class="form-signin">
				{% csrf_token %}
                <input type="text" name="rrno" class="form-control" placeholder="Enter R R No. Here.." required autofocus>
									<br>
                <button style="background-color:#1F2833;" class="btn btn-lg btn-primary btn-block" type="submit">
                   Check</button>
                 </div>
            <a href="checkhistory" class="text-center new-account" style="color:#1F2833;" >Payment History</a>
			 </form>
        </div>
    </div>
</div>
</body>

</div>

</center>

</html>  